.loginForm {
    background-image: url('../../assets/img/imageCar.png');
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    color: white;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 3px 72px 18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 72px 18px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 72px 18px rgba(0, 0, 0, 0.75);
}

.text {
    font-size: 20px;
}